extends layout

block content
  h1= title
    
  .container
    
    h2.bg-info You purchases
      if !purchases
        h3 You don't have any purchases.
      else 
        .row
          each purchase in purchases
            .card.col-sm-12
              img.card-img-top.mx-auto(src=purchase.productId.image style=" max-width:50px;")              
              h5= purchase.productId.name
              h6
                | description: #{purchase.productId.description}
              h6
                | Quantity : #{purchase.quantity}
              h6
                | Unit Price: #{purchase.productId.price}
              h6
                | Total Price: #{purchase.productId.price * purchase.quantity}
              p.card-text
                form(action='/product/return/'+purchase._id method='get')
                  .col-sm-12
                    button.btn.btn-success.col-12(type='submit') Return
              
